
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detector</title>
</head>
<body>
    <div>
        <h1>Object Detector</h1>
        <p>Upload an image to detect the objects in the image.</p>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="image" id="file">
            <input type="submit" value="Upload">
        </form>
    </div>
    
</body>
</html>